SPRING_DATASOURCE_URL=your_database_url_here
SPRING_DATASOURCE_USERNAME=your_database_username_here
SPRING_DATASOURCE_PASSWORD=your_database_password_here

CLERK_JWKS_URL=your_clerk_jwks_url_here
CLERK_ISSUER=your_clerk_issuer_here
CLERK_AUDIENCE=http://localhost:5173